@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Global styles reset to ensure consistent styling across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main body styling to align content and set background properties */
body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('images/Course_Catalog_Blue.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Prevents scrolling beyond the viewport */
}

/* Header styling including background color and alignment of elements */
header {
    width: 100%;
    background-color: #c7c7f7;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

/* Styling for the brand name with specific font settings */
.brand-logo img {
    width: 80px;
    margin-right: auto;
}

/* Container for navigation links with center alignment */
.nav-links {
    display: flex;
    justify-content: center;
}

/* Unordered list in navigation links with no default styling */
.nav-links ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0 auto;
    align-items: center;
}

/* Styling for each navigation link */
.nav-links ul li a {
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease-in-out;
}

/* Hover effect for navigation links */
.nav-links ul li a:hover {
    transform: scale(1.1);
    background-color: #808080;
}

.page-title {
    color: black;
    margin-top: 30px;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.top-container {
    display: flex;
    flex-direction: row;
}

.info {
    width: 420px;
    border-collapse: collapse;
    font-weight: bold;
    flex-direction: column;
    margin-bottom: 50px; /* Add margin for spacing */
    margin-left: 80px;
    margin-top: 30px;
}

.info td {
    padding: 10px;
    border: 1px solid #000;
    color: white;
    background-color: #6f99f9; /* Dark blue background for the table */
}

.info tr:nth-child(even) {
    background-color: #5ba5f9; /* Light blue background for even rows */
}

.info td:first-child {
    width: 150px; /* Set a fixed width for the left column */
}

.info td:nth-child(2) {
    width: calc(100% - 150px); /* Set the width of the right column to be wider than the left column */
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px; /* Limit the maximum width */
    height: 80px;
    margin-left: 150px; /* Position about 80px from the right side */
    margin-top: 10px; /* Position about 100px below the top */
    padding: 10px; /* Add padding for spacing */
    background-color: rgb(140, 160, 250); /* Background color */
    border-radius: 5px; /* Add rounded corners */
}


.dropdown-container label {
    display: block; /* Ensure label takes full width */
    margin-bottom: 5px; /* Add margin below the label */
}

.dropdown-container select {
    width: 100%; /* Make the dropdown fill the container width */
    padding: 5px; /* Add padding for spacing */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.history-button {
    background-color: rgb(143, 247, 240); /* Background color */
    padding: 10px; /* Add padding for spacing */
    border-radius: 5px; /* Add rounded corners */
    width: 300px; /* Limit the maximum width */
    margin-left: 135px;
}

.bottom-container {
    display: flex;
    flex-direction: row;
}


.create-term {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5c7f9; /* Background color */
    padding: 10px; /* Add padding for spacing */
    border-radius: 5px; /* Add rounded corners */
    margin-bottom: 50px; /* Add margin for spacing */
    width: 420px; /* Limit the maximum width */
    height: 165px;
    margin-top: 50px;
    margin-left: 80px; /* Auto margin to horizontally center */
}

.create-term label {
    margin-bottom: 10px; /* Add spacing between label and dropdowns */
    align-self: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.create-term select {
    margin-bottom: 10px; /* Add spacing between dropdowns and button */
    align-self: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.create-term input {
    margin-bottom: 10px; /* Add spacing between dropdowns and button */
    align-self: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.create-term button {
    background-color: rgb(89, 249, 166);
    width: 30%; /* Make button fill container width */
    align-self: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.table-container {
    display: flex;
    align-items: center;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Add padding for spacing */
    border-radius: 5px; /* Add rounded corners */
    width: 300px; /* Limit the maximum width */
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(110, 144, 245); /* Background color */
    padding: 10px;
    border-radius: 5px; /* Add rounded corners */
    width: 100%; /* Set width to 100% */
}

.popup-content input {
    margin-bottom: 15px; /* Add some space between input and button */
}

.popup-content button{
    width: 80px;
    background-color: rgb(107, 247, 107);
}

/* Close button styling */
.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

/* Hover effect on close button */
.close:hover {
    color: red;
}

.table {
    table-layout: auto;
    width: 500px;
    min-width: 350px;
    margin: 10px auto; /* Center the table and provide some space above and below */
    margin-left: 110px;
    border-collapse: collapse;
    background-color: #f8f9fa; /* Light background for the table */
}

.table th, .table td {
    text-align: center; /* Align text to the left */
    padding: 15px 15px; /* Padding inside cells */
    border-bottom: 2px solid #dee2e6; /* Light grey border for each cell */
}

.table th {
    width: 200px;
    background-color: #007bff; /* Blue background for headers */
    color: white;
    font-size: 16px;
}

.table tr:hover {
    background-color: #f1f1f1; /* Light grey background on hover */
}



.delete-btn {
    color: #dc3545; /* Bootstrap danger color for the delete button */
    cursor: pointer; /* Cursor indicates clickable */
    padding: 5px 10px; /* Padding for better touch area */
    border-radius: 5px; /* Rounded corners for the button */
    background-color: #f8d7da; /* Light red background */
    border: 1px solid #dc3545; /* Red border */
}

tr {
    font-size: 15px;
    font-weight: 400; /* Makes the font slimmer */
    font-family: 'Montserrat', sans-serif;
    color: black;
}

th:last-child,td:last-child, th:first-child, td:first-child  {
    width: 50px; 
}

img:hover {
    transform: scale(1.1);
}

.add-class-btn {
    margin-left:30px;
    align-self: center;
}

/* Modal styling */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Modal content styling */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    max-width: 900px;
    width: 90%;
    text-align: center;
}
/* give course name breathing room on modal */
#modal-course-number {
    margin-bottom: 20px;
}

/* Close button styling */
.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

/* Hover effect on close button */
.close:hover {
    color: red;
}
.clickable {
    color: blue;
    cursor: pointer;
}

.grade-table-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.edit-grade-table {
    margin: auto;
}