/* Import Google Font styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Global styles reset to ensure consistent styling across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main body styling */
body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('images/vector-abstract-gradiente-background-blue-wallpaper_901408-861.avif');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background: transparent;
    position: relative;
    box-sizing: border-box;
}

/* Brand logo styling */
.brand-logo img {
    width: 120px;
    margin-right: auto;
}

/* Navigation container styling */
.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    box-sizing: border-box;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links ul li {
    padding-left: 20px;
}

.nav-links ul li a {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s, transform 0.3s;
    white-space: nowrap;
}

.nav-links ul li a.active {
    background-color: #808080;
    pointer-events: none;
    cursor: default;
}

.nav-links ul li a:hover {
    transform: scale(1.1);
    background-color: #808080;
}

/* Styling for the motto section */
.motto {
    color: white;
    font-size: 32px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin: 40px 0;
}

/* Styling for the motto container */
.motto-container {
    text-align: center;
    margin-bottom: 40px;
}

/* Top container styling */
.top-container {
    display: flex;
    flex-direction: row;
}

/* Info table styling */
.info {
    width: 420px;
    border-collapse: collapse;
    font-weight: bold;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-top: 30px;
}

/* Info table cell styling */
.info td {
    padding: 10px;
    border: 1px solid #000;
    color: white;
    background-color: #6f99f9;
}

/* Info table even row styling */
.info tr:nth-child(even) {
    background-color: #5ba5f9;
}

/* Info table first cell styling */
.info td:first-child {
    width: 150px;
}

/* Info table second cell styling */
.info td:nth-child(2) {
    width: calc(100% - 150px);
}

/* Dropdown container styling */
.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 80px;
    margin-left: 150px;
    margin-top: 10px;
    padding: 10px; /
    background-color: rgb(140, 160, 250);
    border-radius: 5px;
}

/* Dropdown container label styling */
.dropdown-container label {
    display: block;
    margin-bottom: 5px;
}

/* Dropdown container select styling */
.dropdown-container select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

/* History button styling */
.history-button {
    background-color: rgb(143, 247, 240);
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    margin-left: 135px;
}

/* Bottom container styling */
.bottom-container {
    display: flex;
    flex-direction: row;
}

/* Create term section styling */
.create-term {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5c7f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
    width: 420px;
    height: 165px;
    margin-top: 50px;
    margin-left: 80px;
}

/* Create term label styling */
.create-term label {
    margin-bottom: 10px;
    align-self: center;
    justify-content: center;
}

/* Create term select styling */
.create-term select {
    margin-bottom: 10px;
    align-self: center;
    justify-content: center;
}

/* Create term input styling */
.create-term input {
    margin-bottom: 10px;
    align-self: center;
    justify-content: center;
}

/* Create term button styling */
.create-term button {
    background-color: rgb(89, 249, 166);
    width: 30%;
    align-self: center;
    justify-content: center;
}

/* Table container styling */
.table-container {
    display: flex;
    align-items: center;
}

/* Popup container styling */
.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

/* Popup content styling */
.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(110, 144, 245);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

/* Popup content input styling */
.popup-content input {
    margin-bottom: 15px;
}

/* Popup content button styling */
.popup-content button {
    width: 80px;
    background-color: rgb(107, 247, 107);
}

/* Close button styling */
.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

/* Hover effect on close button */
.close:hover {
    color: red;
}

/* Table styling */
.table {
    table-layout: auto;
    width: 500px;
    min-width: 350px;
    margin: 10px auto;
    margin-left: 110px;
    border-collapse: collapse;
    background-color: #f8f9fa;
}

/* Table cell styling */
.table th, .table td {
    text-align: center;
    padding: 15px 15px;
    border-bottom: 2px solid #dee2e6;
}

/* Table header styling */
.table th {
    width: 200px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
}

/* Table row hover effect */
.table tr:hover {
    background-color: #f1f1f1;
}

/* Delete button styling */
.delete-btn {
    color: #dc3545;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f8d7da;
    border: 1px solid #dc3545;
}

/* Row styling */
tr {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

/* Styling for the first and last cells in each row */
th:last-child, td:last-child, th:first-child, td:first-child {
    width: 50px;
}

/* Image hover effect */
img:hover {
    transform: scale(1.1);
}

/* Add class button styling */
.add-class-btn {
    margin-left: 30px;
    align-self: center;
}

/* Modal styling */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Modal content styling */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 90%;
    text-align: center;
}

/* Margin for course name in modal */
#modal-course-number {
    margin-bottom: 20px;
}

/* Close button styling */
.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

/* Hover effect on close button */
.close:hover {
    color: red;
}

/* Clickable class styling */
.clickable {
    color: blue;
    cursor: pointer;
}

/* Grade table container styling */
.grade-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Edit grade table styling */
.edit-grade-table {
    margin: auto;
}